{% extends 'base.html.twig' %}

{% block body %}

<div>
    <h1 class="my-5">Bienvenue sur {{ titre }} !</h1>

    {% for une_matiere in matieres %}
        <div class="card">
            <div class="card-body">
                <h4 class="card-title"><strong>{{ une_matiere.nom }}<strong></h4>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
